# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/

# Environment
.env
venv/
*.sqlite3

# Django
staticfiles/
media/
db.sqlite3

# IDEs
.vscode/
.idea/

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log

# OS
.DS_Store
Thumbs.db
